nav {
    padding: 1rem;
    margin-left: 100px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

ul li {
    margin: 30px;
    font-size: calc(1rem + 1vw);
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s, opacity 0.3s;
}

a:hover {
    color: white;
    opacity: 0.7;
}

@media (max-width: 768px) {
    ul {
        align-items: center;
    }

    ul li {
        margin: 10px;
    }

    nav {
        padding: 1rem;
        margin-left: 0px;
    }
}