<style>
  #scroll-arrow2 {
    position: fixed;
    bottom: 20px;
    left: 49%;
    transform: translateX(-50%);
    animation: bounce 1.5s infinite;
    opacity: 1;
    pointer-events: auto;
    /* Habilita eventos del mouse por defecto */
  }

  #scroll-arrow2.hidden {
    opacity: 0;
    pointer-events: none;
    /* Desactiva eventos del mouse cuando está oculto */
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    /* Desplaza hacia arriba */
    100% {
      transform: translateY(0);
    }

    /* Vuelve a la posición inicial */
  }

  .scroll-arrow2 {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    animation: bounce 1.5s infinite;
    transition: transform .3s ease-in-out
  }

  @media (max-width: 768px) {
  .projects {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 290px;
    margin-left: auto;
    margin-right: auto;
  }


}
</style>
<h1 class="project">My Projects</h1>
<div class="projects">
  <span class="container">
    <span class="wrapper">
      <section class="banner-image"> </section>
      <h1> MyAnalyst </h1>
      <p>
        Create & consult your charts </p>
      <img src="angularjs.png" class="tec" alt="angular">
      <img src="typescript.png" class="tec" alt="angular">
    </span>
    <span class="button-wrapper">
      <button class="btn outline"><a href="https://my-analyst.vercel.app/">DETAILS</a></button>
      <button class="btn fill">CONTACT</button>
    </span>
  </span>

  <span class="container" style="margin: 50px;">
    <span class="wrapper">
      <section class="banner-image2"> </section>
      <h1> QuestMan. </h1>
      <p>Plan your life!</p>
      <img src="angularjs.png" class="tec" alt="angular">
      <img src="typescript.png" class="tec" alt="angular">
    </span>
    <span class="button-wrapper">
      <button class="btn outline"><a href="https://quest-manager.vercel.app/">DETAILS</a></button>
      <button class="btn fill">BUY NOW</button>
    </span>
  </span>

</div>

<a href="#contact" id="scroll-arrow2" class="scroll-arrow2">
  <i class="fas fa-chevron-down"></i>
</a>