
.projects{
    margin-top: 350px;
    border-radius: 10%;
    margin-left: 100px;
    margin-right: 200px;
    height: 60rem;
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
}

