<h1 class="project">My Projects</h1>
<div class="projects">
  <span class="container">
    <span class="wrapper">
      <section class="banner-image"> </section>
      <h1> MyAnalyst </h1>
      <p>
        Create & consult your charts </p>
      <img src="angularjs.png" class="tec" alt="angular">
      <img src="typescript.png" class="tec" alt="angular">
    </span>
    <span class="button-wrapper">
      <button class="btn outline"><a href="https://my-analyst.vercel.app/">DETAILS</a></button>
      <button class="btn fill">CONTACT</button>
    </span>
  </span>

  <span class="container" style="margin: 50px;">
    <span class="wrapper">
      <section class="banner-image2"> </section>
      <h1> Quest Man. </h1>
      <p>Plan your life!</p>
      <img src="angularjs.png" class="tec" alt="angular">
      <img src="typescript.png" class="tec" alt="angular">
    </span>
    <span class="button-wrapper">
      <button class="btn outline"><a href="https://quest-manager.vercel.app/">DETAILS</a></button>
      <button class="btn fill">BUY NOW</button>
    </span>
  </span>
  
</div>