
.projects{
    margin-top:-100px;
    border-radius: 10%;
    margin-left: 100px;
    margin-right: 200px;
    height: 60rem;
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgba(0, 212, 255, 0.9);
}